TELEGRAM_BOT_TOKEN=
KORAPAY_SECRET_KEY=
KORAPAY_PUBLIC_KEY=
KORAPAY_WEBHOOK_SECRET=
TON_API_KEY=
GROQ_API_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
SIDI_PRICE_NGN=25
SIDI_FEE_WALLET=
ADMIN_TELEGRAM_ID=
ENCRYPTION_KEY=
WEBHOOK_BASE_URL=https://coin.sidihost.sbs
PORT=8000
